.home {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 1117px;
}

.home .overlap {
  position: relative;
  width: 2729px;
  height: 1138px;
  left: -331px;
}

.home .image {
  position: absolute;
  width: 1728px;
  height: 1117px;
  top: 0;
  left: 331px;
  object-fit: cover;
}

.home .rectangle {
  position: absolute;
  width: 1728px;
  height: 77px;
  top: 1040px;
  left: 331px;
  background-color: #ffffff;
}

.home .view {
  position: absolute;
  width: 1728px;
  height: 235px;
  top: 0;
  left: 331px;
  background-color: #ce6b54;
}

.home .div {
  position: absolute;
  width: 1764px;
  height: 53px;
  top: 235px;
  left: 331px;
  background-color: #8bcdce;
  border: 3px solid;
  border-color: #e8fab6;
}

.home .head-light-pink {
  position: absolute;
  width: 2114px;
  height: 109px;
  top: 126px;
  left: 331px;
}

.home .overlap-group {
  position: relative;
  width: 1728px;
  height: 109px;
}

.home .img {
  width: 753px;
  left: 0;
  position: absolute;
  height: 109px;
  top: 0;
}

.home .head-light-pink-2 {
  width: 692px;
  left: 429px;
  position: absolute;
  height: 109px;
  top: 0;
}

.home .head-light-pink-3 {
  width: 692px;
  left: 835px;
  position: absolute;
  height: 109px;
  top: 0;
}

.home .head-light-pink-4 {
  width: 306px;
  left: 1422px;
  position: absolute;
  height: 109px;
  top: 0;
}

.home .view-2 {
  position: absolute;
  width: 2394px;
  height: 46px;
  top: 85px;
  left: 335px;
}

.home .image-2 {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 0;
}

/* 這裡是這個home圖層中的位置向左移動了 */
.home .image-3 {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 799px;
  transform: translateX(-8px);
}

.home .image-4 {
  position: absolute;
  width: 126px;
  height: 46px;
  top: 0;
  left: 1598px;
}

.home .small-logo {
  position: absolute;
  width: 231px;
  height: 78px;
  top: 0;
  left: 1813px;
  object-fit: cover;
}

.home .overlap-group-wrapper {
  position: absolute;
  width: 397px;
  height: 82px;
  top: 185px;
  left: 1512px;
}

.home .overlap-2 {
  position: relative;
  height: 82px;
}

.home .image-5 {
  position: absolute;
  width: 397px;
  height: 78px;
  top: 4px;
  left: 0;
}

.home .lamb-search {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 321px;
  object-fit: cover;
}

.home .ai {
  position: absolute;
  width: 241px;
  height: 256px;
  top: 216px;
  left: 1823px;
}

.home .overlap-3 {
  position: relative;
  width: 236px;
  height: 256px;
}

.home .image-6 {
  position: absolute;
  width: 182px;
  height: 193px;
  top: 63px;
  left: 54px;
  object-fit: cover;
}

.home .image-7 {
  position: absolute;
  width: 133px;
  height: 138px;
  top: 82px;
  left: 0;
  object-fit: cover;
}

.home .image-8 {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 0;
  left: 82px;
  object-fit: cover;
}

.home .view-3 {
  position: absolute;
  width: 1121px;
  height: 477px;
  top: 270px;
  left: 452px;
}

.home .image-9 {
  position: absolute;
  width: 146px;
  height: 176px;
  top: 136px;
  left: 0;
  object-fit: cover;
}

.home .image-10 {
  position: absolute;
  width: 173px;
  height: 161px;
  top: 40px;
  left: 696px;
  object-fit: cover;
}

.home .image-11 {
  position: absolute;
  width: 138px;
  height: 161px;
  top: 79px;
  left: 983px;
  object-fit: cover;
}

.home .image-12 {
  position: absolute;
  width: 146px;
  height: 188px;
  top: 289px;
  left: 869px;
  object-fit: cover;
  /* 向下移動5px */
  transform: translateY(5px);
}

.home .image-13 {
  position: absolute;
  width: 153px;
  height: 157px;
  top: 0;
  left: 169px;
  object-fit: cover;
}

.home .image-14 {
  position: absolute;
  width: 180px;
  height: 161px;
  top: 95px;
  left: 452px;
  object-fit: cover;
}

.home .div-wrapper {
  position: absolute;
  width: 1049px;
  height: 1138px;
  top: 0;
  left: 330px; 
  /* 原本是0 */
}

.home .overlap-group-2 {
  position: relative;
  height: 1138px;
}

.home .group {
  position: absolute;
  width: 473px;
  height: 1138px;
  top: 0;
  left: 0;
}

.home .rectangle-2 {
  position: absolute;
  width: 355px;
  height: 1138px;
  top: 0;
  left: 0;
  background-color: #1f868c;
}

.home .image-15 {
  position: absolute;
  width: 124px;
  height: 1117px;
  top: 0;
  left: 349px;
  object-fit: cover;
}

.home .t-dance-your-finger {
  position: absolute;
  width: 532px;
  height: 73px;
  top: 223px;
  left: 517px;
  object-fit: cover;
}

.home .big-logo {
  position: absolute;
  width: 479px;
  height: 291px;
  top: 20px;
  left: 442px;
  object-fit: cover;
}

.home .lamb-right {
  position: absolute;
  width: 103px;
  height: 103px;
  top: 503px;
  left: 349px;
  object-fit: cover;
}


.home .image-16 {
  position: absolute;
  width: 42px;
  height: 43px;
  top: 3px;
  left: 331px;
  object-fit: cover;
}

.home .team {
  position: absolute;
  width: 290px;
  height: 60px;
  top: 384px;
  left: 47px;
}

/* 有點問題 */
.home .text-wrapper-1 {
  /* position: absolute;
  width: 233px;
  top: 0;
  left: 53px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal; */
  position: absolute;
  width: 233px;
  top: 4px;
  left: 55px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  /* background-color: #010101; */
}


.home .teamtext-wrapper-2 {
  position: absolute;
  width: 233px;
  top: 4px;
  left: 55px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

/* 這個不是沒有用的, 是包含在了一個更大的層中 */
.home .lamb-user {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 331px;
  object-fit: fit;
  /* 位置向左移動 */
  transform: translateX(-2px);
}

/* 把.studies改成這個 */
.home .studies {
  position: absolute;
  width: 290px;
  height: 60px;
  top: 460px;
  left: 47px;
}


.studies {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}



.home .studiestext-wrapper-3 {
  position: absolute;
  width: 299px;
  height: 80px;
  top: 1px;
  left: 55px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home .image-17 {
  position: absolute;
  width: 67px;
  height: 57px;
  top: 0;
  left: 331px;
  object-fit: cover;
}

.home .image-18 {
  position: absolute;
  width: 1002px;
  height: 698px;
  top: 419px;
  left: px;
  object-fit: cover;
}

.home .image-19 {
  position: absolute;
  width: 131px;
  height: 62px;
  top: 1040px;
  left: 1897px;
  object-fit: cover;
}

.home .image-20 {
  position: absolute;
  width: 505px;
  height: 77px;
  top: 1040px;
  left: 1356px;
  object-fit: cover;
}

/* hode效果 */
.home .project-link {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    display: inline-block; /* 保持內部 div 排版 */
  }
  /*注意其實hover前面的單詞也很重要  */
  .project:hover {
    /* opacity: 0.9; 鼠標懸停時效果 */
    background-color: black;
}

.home .team-link {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    display: inline-block; /* 保持內部 div 排版 */
  }
  
  .team:hover {
    /* opacity: 0.9; 鼠標懸停時效果 */
    background-color: black;
}

.home .studies-link {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    display: inline-block; /* 保持內部 div 排版 */
  }
  
  .studies:hover {
    /* opacity: 0.9; 鼠標懸停時效果 */
    background-color: black;
}

.home .home-link {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    display: inline-block; /* 保持內部 div 排版 */
  }
  
  .home:hover {
    /* opacity: 0.9; 鼠標懸停時效果 */
    background-color: black;
}

.home .production-link {
    text-decoration: none; /* 去掉鏈接的下劃線 */
    display: inline-block; /* 保持內部 div 排版 */
  }
  
  .production:hover {
    /* opacity: 0.9; 鼠標懸停時效果 */
    background-color: black;
}

.project {
/* 是這個的問題 */
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.project .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 3243px;
  position: relative;
}

.project .element {
  position: absolute;
  width: 2048px;
  height: 828px;
  top: 422px;
  left: -117px;
}

.project .overlap-group {
  position: relative;
  width: 1861px;
  height: 828px;
}

.project .rectangle {
  width: 1861px;
  height: 568px;
  top: 260px;
  background-color: #8bcdce26;
  position: absolute;
  left: 0;
}

.project .image {
  position: absolute;
  width: 1728px;
  height: 192px;
  top: 238px;
  left: 117px;
}

.project .img {
  position: absolute;
  width: 345px;
  height: 375px;
  top: 344px;
  left: 1255px;
}

.project .palm {
  position: absolute;
  width: 544px;
  top: 376px;
  left: 725px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #1f868c;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.project .text-wrapper {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #1f868c;
  font-size: 40px;
  letter-spacing: 0;
}

.project .span {
  font-size: 32px;
}

.project .more {
  top: 528px;
  left: 1177px;
  color: #1f868c;
  position: absolute;
  width: 155px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.project .text-wrapper-2 {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  color: #1f868c;
  font-size: 36px;
  letter-spacing: 0;
}

.project .text-wrapper-3 {
  font-size: 20px;
}

.project .text-wrapper-4 {
  position: absolute;
  width: 512px;
  top: 435px;
  left: 726px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.project .view {
  position: absolute;
  width: 705px;
  height: 111px;
  top: 632px;
  left: 629px;
}

.project .image-2 {
  position: absolute;
  width: 176px;
  height: 116px;
  top: -2px;
  left: 352px;
  object-fit: cover;
}

.project .image-3 {
  position: absolute;
  width: 174px;
  height: 114px;
  top: -2px;
  left: 175px;
  object-fit: cover;
}

.project .image-4 {
  position: absolute;
  width: 175px;
  height: 115px;
  top: -2px;
  left: -2px;
  object-fit: cover;
}

.project .image-5 {
  position: absolute;
  width: 176px;
  height: 116px;
  top: -2px;
  left: 531px;
  object-fit: cover;
}

.project .image-wrapper {
  position: absolute;
  width: 512px;
  height: 334px;
  top: 0;
  left: 714px;
}

.project .image-6 {
  position: absolute;
  width: 520px;
  height: 342px;
  top: -4px;
  left: -4px;
  object-fit: cover;
}

.project .overlap-wrapper {
  position: absolute;
  width: 2048px;
  height: 822px;
  top: 1366px;
  left: -94px;
}

.project .overlap {
  position: relative;
  width: 1831px;
  height: 822px;
}

.project .rectangle-2 {
  height: 527px;
  background-color: #e8fab659;
  position: absolute;
  width: 1831px;
  top: 294px;
  left: 0;
}

.project .image-7 {
  top: 233px;
  left: 94px;
  position: absolute;
  width: 1728px;
  height: 192px;
}

.project .text-wrapper-5 {
  width: 512px;
  top: 587px;
  left: 697px;
  position: absolute;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 33px;
}

.project .p {
  top: 756px;
  left: 1148px;
  color: #2f5aa8;
  position: absolute;
  width: 155px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.project .text-wrapper-6 {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  color: #2f5aa8;
  font-size: 36px;
  letter-spacing: 0;
}

.project .podcast {
  top: 520px;
  left: 694px;
  color: #2f5aa8;
  position: absolute;
  width: 544px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.project .text-wrapper-7 {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #2f5aa8;
  font-size: 40px;
  letter-spacing: 0;
}

.project .mic {
  position: absolute;
  width: 354px;
  height: 425px;
  top: 397px;
  left: 1272px;
}

.project .lamb {
  position: absolute;
  width: 354px;
  height: 424px;
  top: 1px;
  left: 0;
}

.project .hoolilogo {
  position: absolute;
  width: 470px;
  height: 466px;
  top: 0;
  left: 718px;
  background-image: url(https://c.animaapp.com/V2sNKWUz/img/hoolilogo-1@2x.png);
  background-size: 100% 100%;
}

.project .overlap-group-wrapper {
  position: absolute;
  width: 2048px;
  height: 895px;
  top: 2284px;
  left: -126px;
}

.project .overlap-2 {
  position: relative;
  width: 1831px;
  height: 895px;
  left: 33px;
}

.project .rectangle-3 {
  height: 601px;
  background-color: #f0d3c65c;
  position: absolute;
  width: 1831px;
  top: 294px;
  left: 0;
}

.project .image-8 {
  top: 253px;
  left: 93px;
  position: absolute;
  width: 1728px;
  height: 192px;
}

.project .text-wrapper-8 {
  width: 510px;
  top: 612px;
  left: 662px;
  white-space: nowrap;
  position: absolute;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 33px;
}

.project .more-2 {
  top: 758px;
  left: 1100px;
  color: #ce6b54;
  position: absolute;
  width: 155px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.project .text-wrapper-9 {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 700;
  color: #ce6b54;
  font-size: 36px;
  letter-spacing: 0;
}

.project .podcast-2 {
  top: 541px;
  left: 659px;
  color: #ce6b54;
  position: absolute;
  width: 544px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.project .text-wrapper-10 {
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 600;
  color: #ce6b54;
  font-size: 40px;
  letter-spacing: 0;
}

.project .lamb-wrapper {
  position: absolute;
  width: 408px;
  height: 440px;
  top: 455px;
  left: 1193px;
}

.project .lamb-2 {
  position: absolute;
  width: 380px;
  height: 421px;
  top: 19px;
  left: 15px;
}

/* .studies .lamb-22 {
  position: absolute;
  width: px;
  height: 421px;
  top: 19px;
  left: 15px;
  transform: translateY(-200px);
} */

/* 改變了大小和位子,和頁面對齊方式為下邊和左邊 */
.studies .lamb-22 {
  position: fixed; /* 使用固定定位 */
  width: auto; /* 修復 width 為 undefined 的問題 */
  height: 320px;
  bottom: 78px; /* 下邊距瀏覽器底部 px */
  left: 220px; /* 水平居中 */
  transform: translateX(-50%); /* 左右居中，移動自身寬度一半 */
}

.project .hoolilogo-2 {
  position: absolute;
  width: 472px;
  height: 475px;
  top: 0;
  left: 721px;
  background-image: url(https://c.animaapp.com/V2sNKWUz/img/hoolilogo-1-1@2x.png);
  background-size: 100% 100%;
}

.project .overlap-3 {
  position: absolute;
  width: 2415px;
  height: 315px;
  top: -4px;
  left: -17px;
}

.project .head {
  position: absolute;
  width: 2398px;
  height: 311px;
  top: 0;
  left: 17px;
}

.project .overlap-4 {
  position: relative;
  height: 307px;
  top: 4px;
}

.project .view-2 {
  position: absolute;
  width: 1728px;
  height: 235px;
  top: 0;
  left: 0;
  background-color: #ce6b54;
}

.project .view-3 {
  position: absolute;
  width: 2394px;
  height: 46px;
  top: 85px;
  left: 4px;
}

.project .image-9 {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 0;
}

.project .image-10 {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 799px;
}

.project .image-11 {
  position: absolute;
  width: 126px;
  height: 46px;
  top: 0;
  left: 1598px;
}

.project .head-light-pink {
  position: absolute;
  width: 2114px;
  height: 109px;
  top: 118px;
  left: 0;
}

.project .overlap-group-2 {
  position: relative;
  width: 1728px;
  height: 109px;
}

.project .head-light-pink-2 {
  width: 753px;
  left: 0;
  position: absolute;
  height: 109px;
  top: 0;
}

.project .head-light-pink-3 {
  width: 692px;
  left: 429px;
  position: absolute;
  height: 109px;
  top: 0;
}

.project .head-light-pink-4 {
  width: 692px;
  left: 835px;
  position: absolute;
  height: 109px;
  top: 0;
}

.project .head-light-pink-5 {
  width: 306px;
  left: 1422px;
  position: absolute;
  height: 109px;
  top: 0;
}

.project .small-logo {
  position: absolute;
  width: 232px;
  height: 78px;
  top: 0;
  left: 1482px;
  object-fit: cover;
}

.project .big-logo {
  position: absolute;
  width: 479px;
  height: 291px;
  top: 16px;
  left: 0;
  object-fit: cover;
}

.project .t-dance-your-finger {
  position: absolute;
  width: 529px;
  height: 73px;
  top: 165px;
  left: 378px;
  object-fit: cover;
}

.project .headline {
  position: absolute;
  width: 1781px;
  height: 76px;
  top: 239px;
  left: 0;
  background-color: #1f868c;
  border: 3px solid;
  border-color: #e8fab6;
}

.project .overlap-5 {
  position: absolute;
  width: 296px;
  height: 57px;
  top: 10px;
  left: 573px;
}

.project .view-4 {
  position: absolute;
  width: 296px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #184b4e;
  border-radius: 23px;
}

.project .productionss {
  position: absolute;
  width: 256px;
  height: 51px;
  top: 6px;
  left: 24px;
}

.project .text-wrapper-11 {
  position: absolute;
  width: 202px;
  top: 2px;
  left: 52px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.project .image-12 {
  position: absolute;
  width: 42px;
  height: 43px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.project .overlap-6 {
  position: absolute;
  width: 152px;
  height: 54px;
  top: 13px;
  left: 409px;
}

.project .home {
  position: absolute;
  width: 152px;
  height: 54px;
  top: 0;
  left: 0;
}

.project .text-wrapper-12 {
  position: absolute;
  width: 97px;
  top: 5px;
  left: 53px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.project .lamb-home {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.project .team {
  position: absolute;
  width: 144px;
  height: 57px;
  top: 7px;
  left: 876px;
}

.home .project {
    position: absolute;
    width: 288px;
    height: 57px;
    top: 304px;
    left: 49px;
  }
  

.project .text-wrapper-13 {
  position: absolute;
  width: 94px;
  top: 9px;
  left: 48px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.project .lamb-user {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.project .studies {
  position: absolute;
  width: 299px;
  height: 60px;
  top: 10px;
  left: 1046px;
}

.project .overlap-group-3 {
  position: relative;
  width: 350px;
  height: 120px;
}

.project .text-wrapper-14 {
  position: absolute;
  width: 143px;
  top: 7px;
  left: 62px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.project .image-13 {
  position: absolute;
  width: 67px;
  height: 57px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.project .div-wrapper {
  position: fixed;
  width: 397px;
  height: 82px;
  top: 140px;
  left: 1155px;
}

.project .overlap-7 {
  position: relative;
  height: 82px;
}

.project .image-14 {
  position: absolute;
  width: 397px;
  height: 78px;
  top: 4px;
  left: 0;
}

.project .lamb-search {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 321px;
  object-fit: cover;
}

.project .ai {
  position: fixed;
  width: 241px;
  height: 256px;
  top: 131px;
  left: 1492px;
}

.project .overlap-8 {
  position: relative;
  width: 236px;
  height: 256px;
}

.project .image-15 {
  position: absolute;
  width: 182px;
  height: 193px;
  top: 63px;
  left: 54px;
  object-fit: cover;
}

.project .image-16 {
  position: absolute;
  width: 133px;
  height: 138px;
  top: 82px;
  left: 0;
  object-fit: cover;
}

.project .image-17 {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 0;
  left: 82px;
  object-fit: cover;
}

.project .view-5 {
  position: fixed;
  width: 1728px;
  height: 319px;
  top: 798px;
  left: 0;
}

.project .overlap-9 {
  position: relative;
  height: 319px;
}

.project .rectangle-4 {
  position: fixed; /* 更改為固定定位 */
  width: 1728px;
  height: 78px;
  bottom: 0; /* 將元素對齊到瀏覽器底部 */
  left: 50%; /* 相對於瀏覽器窗口的寬度取一半 */
  transform: translateX(-50%); /* 移動元素左邊界，使其中心對齊瀏覽器的中線 */
  background-color: #ce6b54;
}

.project .image-18 {
  height: 319px;
  position: fixed; /* 使用固定定位 */
  width: auto; /* 修復 width 為 undefined 的問題 */
  bottom: 78px; /* 下邊距瀏覽器底部 px */
  left: 220px; /* 水平居中 */
  transform: translateX(-50%); /* 左右居中，移動自身寬度一半 */

}


.studies .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 3416px;
  position: relative;
}

.studies .overlap {
  position: absolute;
  width: 2415px;
  height: 315px;
  top: -4px;
  left: -17px;
}

.studies .head {
  position: absolute;
  width: 2398px;
  height: 311px;
  top: 0;
  left: 17px;
}

.studies .overlap-group {
  position: relative;
  height: 307px;
  top: 4px;
}

.studies .view {
  position: absolute;
  width: 1728px;
  height: 235px;
  top: 0;
  left: 0;
  background-color: #ce6b54;
}

.studies .view-2 {
  position: absolute;
  width: 2394px;
  height: 46px;
  top: 85px;
  left: 4px;
}

.studies .image {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 0;
}

.studies .img {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 799px;
}

.studies .image-2 {
  position: absolute;
  width: 126px;
  height: 46px;
  top: 0;
  left: 1598px;
}

.studies .head-light-pink {
  position: absolute;
  width: 2114px;
  height: 109px;
  top: 118px;
  left: 0;
}

.studies .overlap-group-2 {
  position: relative;
  width: 1728px;
  height: 109px;
}

.studies .head-light-pink-2 {
  width: 753px;
  left: 0;
  position: absolute;
  height: 109px;
  top: 0;
}

.studies .head-light-pink-3 {
  width: 692px;
  left: 429px;
  position: absolute;
  height: 109px;
  top: 0;
}

.studies .head-light-pink-4 {
  width: 692px;
  left: 835px;
  position: absolute;
  height: 109px;
  top: 0;
}

.studies .head-light-pink-5 {
  width: 306px;
  left: 1422px;
  position: absolute;
  height: 109px;
  top: 0;
}

.studies .small-logo {
  position: absolute;
  width: 232px;
  height: 78px;
  top: 0;
  left: 1482px;
  object-fit: cover;
}

.studies .big-logo {
  position: absolute;
  width: 479px;
  height: 291px;
  top: 16px;
  left: 0;
  object-fit: cover;
}

.studies .t-dance-your-finger {
  position: absolute;
  width: 529px;
  height: 73px;
  top: 165px;
  left: 378px;
  object-fit: cover;
}

.studies .headline {
  position: absolute;
  width: 1781px;
  height: 76px;
  top: 239px;
  left: 0;
  background-color: #1f868c;
  border: 3px solid;
  border-color: #e8fab6;
}

.studies .overlap-2 {
  position: absolute;
  width: 221px;
  height: 63px;
  top: 10px;
  left: 1035px;
}

.studies .view-3 {
  position: absolute;
  width: 219px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #184b4e;
  border-radius: 23px;
}

.studies .overlap-group-wrapper {
  position: absolute;
  width: 207px;
  height: 60px;
  top: 3px;
  left: 14px;
}

.studies .overlap-group-3 {
  position: relative;
  width: 205px;
  height: 60px;
  transform: translateY(-4px);
}

.studies .text-wrapper {
  position: absolute;
  width: 143px;
  top: 7px;
  left: 62px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .image-3 {
  position: absolute;
  width: 67px;
  height: 57px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.studies .home {
  position: absolute;
  width: 152px;
  height: 54px;
  top: 10px;
  left: 406px;
}

.studies .text-wrapper-2 {
  position: absolute;
  width: 97px;
  top: 5px;
  left: 53px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .lamb-home {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.studies .team {
  position: absolute;
  width: 144px;
  height: 57px;
  top: 7px;
  left: 876px;
}

.studies .text-wrapper-3 {
  position: absolute;
  width: 94px;
  top: 9px;
  left: 48px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  transform: translateY(3px);
}

.studies .lamb-user {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.studies .production {
  position: absolute;
  width: 256px;
  height: 51px;
  top: 13px;
  left: 594px;
}

.studies .text-wrapper-4 {
  position: absolute;
  width: 202px;
  top: 2px;
  left: 52px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .image-4 {
  position: absolute;
  width: 42px;
  height: 43px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.studies .p {
  position: absolute;
  top: 701px;
  left: 614px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.studies .text-wrapper-5 {
  position: absolute;
  width: 966px;
  top: 1776px;
  left: 381px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .game-interaction {
  position: absolute;
  width: 715px;
  top: 2751px;
  left: 506px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .span {
  font-weight: 700;
}

.studies .text-wrapper-6 {
  font-weight: 500;
}

.studies .self-achievement {
  position: absolute;
  width: 673px;
  top: 2932px;
  left: 506px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.studies .image-5 {
  position: absolute;
  width: 412px;
  height: 246px;
  top: 432px;
  left: 658px;
  object-fit: cover;
}

.studies .image-6 {
  position: absolute;
  width: 998px;
  height: 748px;
  top: 888px;
  left: 393px;
}

.studies .image-7 {
  position: absolute;
  width: 961px;
  height: 603px;
  top: 2051px;
  left: 393px;
  object-fit: cover;
}

.studies .image-8 {
  position: absolute;
  width: 260px;
  height: 123px;
  top: 3174px;
  left: 734px;
  object-fit: cover;
}

.studies .overlap-wrapper {
  position: fixed;
  width: 397px;
  height: 82px;
  top: 140px;
  left: 1155px;
}

.studies .overlap-3 {
  position: relative;
  height: 82px;
}

.studies .image-9 {
  position: absolute;
  width: 397px;
  height: 78px;
  top: 4px;
  left: 0;
}

.studies .lamb-search {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 321px;
  object-fit: cover;
}

.studies .ai {
  position: fixed;
  width: 241px;
  height: 256px;
  top: 131px;
  left: 1492px;
}

.studies .overlap-4 {
  position: relative;
  width: 236px;
  height: 256px;
}

.studies .image-10 {
  position: absolute;
  width: 182px;
  height: 193px;
  top: 63px;
  left: 54px;
  object-fit: cover;
}

.studies .image-11 {
  position: absolute;
  width: 133px;
  height: 138px;
  top: 82px;
  left: 0;
  object-fit: cover;
}

.studies .image-12 {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 0;
  left: 82px;
  object-fit: cover;
}

.studies .div-wrapper {
  position: fixed;
  width: 1728px;
  height: 319px;
  top: 798px;
  left: 0;
}

.studies .overlap-5 {
  position: relative;
  height: 319px;
}

/* .studies .rectangle {
  position: absolute;
  width: 1728px;
  height: 78px;
  top: 241px;
  left: 0;
  background-color: #ce6b54;
} */


/* 將元素移動到瀏覽器底部，並讓其水平居中 */
.studies .rectangle {
  position: fixed; /* 更改為固定定位 */
  width: 1728px;
  height: 78px;
  bottom: 0; /* 將元素對齊到瀏覽器底部 */
  left: 50%; /* 相對於瀏覽器窗口的寬度取一半 */
  transform: translateX(-50%); /* 移動元素左邊界，使其中心對齊瀏覽器的中線 */
  background-color: #ce6b54;
}

.studies .image-13 {
  position: absolute;
  /* width: 458px;
  height: 319px; */
  width: 67px;
  height: 57px;
  top: 0;
  left: 0;
  object-fit: cover;
}



.team {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.team .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1728px;
  height: 1117px;
  position: relative;
}

.team .overlap {
  position: absolute;
  width: 2415px;
  height: 1121px;
  top: -4px;
  left: -17px;
}

.team .image {
  position: absolute;
  width: 1725px;
  height: 952px;
  top: 169px;
  left: 20px;
  object-fit: cover;
}

.team .head {
  position: absolute;
  width: 2398px;
  height: 311px;
  top: 0;
  left: 17px;
}

.team .overlap-group {
  position: relative;
  height: 307px;
  top: 4px;
}

.team .view {
  position: absolute;
  width: 1728px;
  height: 235px;
  top: 0;
  left: 0;
  background-color: #ce6b54;
}

.team .view-2 {
  position: absolute;
  width: 2394px;
  height: 46px;
  top: 85px;
  left: 4px;
}

.team .img {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 0;
}

.team .image-2 {
  position: absolute;
  width: 796px;
  height: 46px;
  top: 0;
  left: 799px;
}

.team .image-3 {
  position: absolute;
  width: 126px;
  height: 46px;
  top: 0;
  left: 1598px;
}

.team .head-light-pink {
  position: absolute;
  width: 2114px;
  height: 109px;
  top: 118px;
  left: 0;
}

.team .overlap-group-2 {
  position: relative;
  width: 1728px;
  height: 109px;
}

.team .head-light-pink-2 {
  width: 753px;
  left: 0;
  position: absolute;
  height: 109px;
  top: 0;
}

.team .head-light-pink-3 {
  width: 692px;
  left: 429px;
  position: absolute;
  height: 109px;
  top: 0;
}

.team .head-light-pink-4 {
  width: 692px;
  left: 835px;
  position: absolute;
  height: 109px;
  top: 0;
}

.team .head-light-pink-5 {
  width: 306px;
  left: 1422px;
  position: absolute;
  height: 109px;
  top: 0;
}

.team .small-logo {
  position: absolute;
  width: 232px;
  height: 78px;
  top: 0;
  left: 1482px;
  object-fit: cover;
}

.team .big-logo {
  position: absolute;
  width: 479px;
  height: 291px;
  top: 16px;
  left: 0;
  object-fit: cover;
}

.team .t-dance-your-finger {
  position: absolute;
  width: 529px;
  height: 73px;
  top: 165px;
  left: 378px;
  object-fit: cover;
}

.team .headline {
  position: absolute;
  width: 1781px;
  height: 76px;
  top: 239px;
  left: 0;
  background-color: #1f868c;
  border: 3px solid;
  border-color: #e8fab6;
}

.team .overlap-2 {
  position: absolute;
  width: 447px;
  height: 57px;
  top: 10px;
  left: 597px;
}

.team .view-3 {
  position: absolute;
  width: 209px;
  height: 55px;
  top: 0;
  left: 238px;
  background-color: #184b4e;
  border-radius: 23px;
}

.team .div-2 {
  position: absolute;
  width: 144px;
  height: 57px;
  top: 0;
  left: 282px;
}

.team .text-wrapper {
  position: absolute;
  width: 94px;
  top: 9px;
  left: 48px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.team .lamb-user {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.team .production {
  position: absolute;
  width: 256px;
  height: 51px;
  top: 6px;
  left: 0;
  transform: translateY(-8px);
}

.team .text-wrapper-2 {
  position: absolute;
  width: 202px;
  top: 2px;
  left: 52px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.team .image-4 {
  position: absolute;
  width: 42px;
  height: 43px;
  top: 0;
  left: 0;
  object-fit: cover;
  /* 同時移動 X 和 Y */
  transform: translate(15px, 6px);
}

.team .home {
  position: absolute;
  width: 152px;
  height: 54px;
  top: 10px;
  left: 406px;
}

.team .text-wrapper-3 {
  position: absolute;
  width: 97px;
  top: 5px;
  left: 53px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.team .lamb-home {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.team .studies {
  position: absolute;
  width: 207px;
  height: 60px;
  top: 10px;
  left: 1046px;
}

.team .overlap-group-3 {
  position: relative;
  width: 205px;
  height: 60px;
}

.team .text-wrapper-4 {
  position: absolute;
  width: 143px;
  top: 7px;
  left: 62px;
  font-family: "Pixelify Sans", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.team .image-5 {
  position: absolute;
  width: 67px;
  height: 57px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.team .overlap-wrapper {
  position: absolute;
  width: 397px;
  height: 82px;
  top: 144px;
  left: 1172px;
}

.team .overlap-3 {
  position: relative;
  height: 82px;
}

.team .image-6 {
  position: absolute;
  width: 397px;
  height: 78px;
  top: 4px;
  left: 0;
}

.team .lamb-search {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 321px;
  object-fit: cover;
}

.team .team-wrapper {
  position: absolute;
  width: 1725px;
  height: 727px;
  top: 316px;
  left: 20px;
}

.team .div-3 {
  position: relative;
  width: 1611px;
  height: 727px;
  left: 114px;
}

.team .team-members {
  position: absolute;
  width: 714px;
  height: 669px;
  top: 19px;
  left: 0;
}

.team .lei {
  position: absolute;
  width: 183px;
  height: 183px;
  top: 0;
  left: 250px;
  object-fit: cover;
}

.team .team-april {
  position: absolute;
  width: 183px;
  height: 183px;
  top: 183px;
  left: 531px;
  object-fit: cover;
}

.team .team-thea {
  position: absolute;
  width: 183px;
  height: 183px;
  top: 251px;
  left: 320px;
  object-fit: cover;
}

.team .yizhe {
  position: absolute;
  width: 183px;
  height: 183px;
  top: 486px;
  left: 440px;
  object-fit: cover;
}

.team .team-sinna {
  position: absolute;
  width: 183px;
  height: 183px;
  top: 409px;
  left: 120px;
  object-fit: cover;
}

.team .team-nova {
  position: absolute;
  width: 182px;
  height: 182px;
  top: 136px;
  left: 0;
  object-fit: cover;
}

.team .view-wrapper {
  position: absolute;
  width: 848px;
  height: 727px;
  top: 0;
  left: 763px;
}

.team .view-4 {
  position: relative;
  width: 822px;
  height: 728px;
  top: -1px;
  left: 20px;
  background-color: #353535a8;
  backdrop-filter: blur(3.95px) brightness(100%);
  -webkit-backdrop-filter: blur(3.95px) brightness(100%);
}

.team .text-wrapper-5 {
  width: 350px;
  top: 170px;
  text-shadow: 3px 4px 0px #00000087;
  font-weight: 700;
  font-size: 48px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  left: 80px;
  font-family: "Pixelify Sans", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.team .text-wrapper-6 {
  width: 611px;
  top: 267px;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  position: absolute;
  left: 80px;
  font-family: "Pixelify Sans", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.team .view-5 {
  position: fixed;
  width: 1728px;
  height: 78px;
  top: 1039px;
  left: 0;
  background-color: #ce6b54;
}

.team .ai {
  position: fixed;
  width: 241px;
  height: 256px;
  top: 131px;
  left: 1492px;
}

.team .overlap-4 {
  position: relative;
  width: 236px;
  height: 256px;
}

.team .image-7 {
  position: absolute;
  width: 182px;
  height: 193px;
  top: 63px;
  left: 54px;
  object-fit: cover;
}

.team .image-8 {
  position: absolute;
  width: 133px;
  height: 138px;
  top: 82px;
  left: 0;
  object-fit: cover;
}

.team .image-9 {
  position: absolute;
  width: 154px;
  height: 154px;
  top: 0;
  left: 82px;
  object-fit: cover;
}
